<ion-content class="ion-no-padding">
  <div class="safe-padding" style="height: 100%; display: flex; flex-direction: column;">
    
    @if (documentPreview()) {
      <div class="preview-container">
        <img [src]="'data:image/jpeg;base64,' + documentPreview()" alt="Scanned Document" />
      </div>
    } @else {
      <div class="empty-state">
        <p>Your secure vault is empty.</p>
      </div>
    }

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="safe-absolute-bottom">
      <ion-fab-button (click)="triggerScanner()" color="primary">
        <ion-icon name="camera-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </div>
</ion-content>